<!DOCTYPE html>
<html>

<head>
  <title>FlaskDrive</title>
</head>

<body>

  <div class="content">

    <h3>FlaskDrive: S3 Flask Demo</h3>

    <p>Welcome to this AWS S3 Demo</p>

    <h2> {{ msg }}</h2>

    <div>
      <h3>Upload your file here:</h3>
      <form method="POST" action="/upload" enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>


    <div>
      <h3>These are your uploaded files:</h3>
      <p>Click on the filename to download it.</p>
      <ul>
        {% for item in contents %}
        <li>
          <a href="{{ item.url }}"> {{ item.Key }} </a>
        </li>
        {% endfor %}
      </ul>

    </div>

  </div>
</body>

</html>